html{
  height: 100%;
}
body {
background: linear-gradient(-20deg, #0c2758 10%, #03426d 60%, #16015c 90%);  font-family: sans-serif;
}
hr {
  border-top: 1px dashed rgb(189, 188, 188);
  width: 97%;
}
small {
  font-weight: 800;
  color: #2e2265;
  font-size: 16px;
  vertical-align: middle;
}
h1 {
  color: #2e2265;
  margin-left: 15px;
  font-size: 38px;
  display: inline;
}
button {
  font-weight: 700;
  background-color: #51458a;
  border-radius: 6px;
  border-style: none;
  padding: 15px 20px;
  box-shadow: 4px 4px 8px #948cb9;
  margin: 15px;
}
.button-link {
  text-align: center;
}

.drop-option {
  font-size: 20px;
  color: #2e2265;
}
.link1 {
  padding: 40px;
  text-align: center;
}
.cities-button {
  color: #f9f7fe;
  text-decoration: none;
}

.emoji {
  font-size: 100px;
  margin: 0;
  display: inline;
  padding-left: 130px;
}
.container {
  background-color: rgb(230, 242, 254);
  opacity: 0.7;
  width: 520px;
  height: fit-content;
  display: block;
  margin: 0 auto;
  padding: 5px 30px;
  box-shadow: 10px 10px 20px #29314d;
  border-radius: 10px;
}
.drop-box {
  background-color: rgb(230, 242, 254);
  width: 100%;
  font-size: 16px;
  padding: 12px;
  border-radius: 4px;
  color: rgb(38, 38, 38);
  border-color: rgb(211, 209, 209);
}
.name {
  font-weight: 795;
  font-size: 30px;
  color: #2e2265;
  margin: 0;
  padding-bottom: 20px;
}
.month {
  opacity: 0.6;
  padding-bottom: 25px;
}
.time {
  font-size: 50px;
  font-weight: 750;
  color: #2e2265;
}
.city-box {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.header {
  padding-bottom: 40px;
}

.select-c {
  text-align: center;
  font-size: 40px;
  color: #2e2265;
  padding: 15px;
}
